/* ------ MAIN ------ */

body {
    background-color: $quaternary-color;
}

header {
    h1 {
        font-family: $heading-main;
        font-size: $heading-main-size;
        text-align: center;
        color: $secondary-color;
    }
    h2 {
        font-family: $heading-second;
        font-size: $heading-second-size;
        text-align: center;
        color: $tertiary-color;
    }
}

.all {
    width: 50%;
    margin: auto;
    background-color: $quinary-color;
}

#canvas {
    width: $second-size;
    height: $second-size;
    background-color: $primary-color;
}

main {
    text-align: center;
}