/* ------ VARIABLES ------ */

/* Colors */
$primary-color: #9ED04D;
$secondary-color: #D8703E;
$tertiary-color: #383532;
$quaternary-color: #45403C;
$quinary-color: #6E6251;

/* Fonts */
$heading-main: 'Quicksand', sans-serif;
$heading-second: 'Oswald', sans-serif;
$paragraph: 'Questrial', sans-serif;

/* Sizes */
$heading-main-size: 4em;
$heading-second-size: 1em;